body {
  background-color: #6dff79 !important;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 99%; }

#text {
  background-color: #cbffcb;
  border: solid 2px rgba(0, 0, 0, 0.493);
  width: 100%; }
  #text .instruction {
    margin-top: 0.5em;
    text-align: center; }
    #text .instruction ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
  #text .hello, #text h1 {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
  #text h3 {
    text-align: center; }

.zoneJeu {
  border: solid 2px rgba(0, 0, 0, 0.493); }
  .zoneJeu .zoneTamago {
    background-color: rgba(255, 255, 255, 0.582);
    margin-left: 7%;
    margin-top: 1%;
    height: 31em;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .zoneJeu .zoneJauge {
    background-color: rgba(0, 236, 0, 0.746);
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(0, 0, 0, 0.493); }

.zoneBouton {
  border: solid 2px rgba(0, 0, 0, 0.493);
  margin-left: 1%;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 236, 0, 0.746); }
  .zoneBouton button {
    margin-left: 1em;
    width: 85px;
    border-radius: 60%;
    font-size: small; }

.containerJauge {
  width: 96%;
  background-color: grey;
  border-radius: 41%; }

#sommeil {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: #ffd900;
  border-radius: 40%; }

#faim {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: #ff0040;
  border-radius: 40%; }

#hygiene {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: #00ffd5;
  border-radius: 40%; }

/*# sourceMappingURL=style.css.map */
