/*
Error: Invalid CSS after "#6dff79 !important": expected expression (e.g. 1px, bold), was ";"
        on line 2 of style.css

1: body {
2:   background-color: #6dff79 !important;
3:   margin-left: 3%;
4:   margin-right: 3%;
5:   max-width: 99%; }
6: 
7: #text {

Backtrace:
style.css:2
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/parser.rb:897:in `assert_done'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/parser.rb:69:in `parse'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/parser.rb:228:in `parse'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/script.rb:27:in `parse'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:1169:in `parse_script'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:745:in `parse_property'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:707:in `parse_property_or_rule'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:666:in `parse_line'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:548:in `block in build_tree'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `each'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:541:in `build_tree'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/var/lib/gems/2.5.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#6dff79 !important\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of style.css\A \A 1: body {\A 2:   background-color: #6dff79 !important;\A 3:   margin-left: 3%;\A 4:   margin-right: 3%;\A 5:   max-width: 99%; }\A 6: \A 7: #text {"; }
