.containerJauge {
  width: 96%;
  background-color: grey;
  border-radius: 41%;
}

#sommeil {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: rgb(255, 217, 0);
  border-radius: 40%;
}

#faim {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: rgb(255, 0, 64);
  border-radius: 40%;
}

#hygiene {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: rgb(0, 255, 213);
  border-radius: 40%;
}